@page "/result"

<TitleComponent TitleName="Үр дүн"></TitleComponent>

<h4>Your Name Number is: @resultNameNumber</h4>
@*<p>@ResultTextService.GetLongText(resultNameNumber)</p>

@if (resultNameNumber != dynamicsOfLifeNumber)
{
    <h4>Your Dynamics Of Life Number  is: @dynamicsOfLifeNumber</h4>
    <p>@ResultTextService.GetLongText(dynamicsOfLifeNumber)</p>
}

@if (hybridNumber != null && hybridNumber != 0)
{
    <h4>Your Hybrid Of Life Number  is: @hybridNumber</h4>
    <p>@ResultTextService.GetLongText(hybridNumber.Value)</p>
}*@

@code {
    private int resultNameNumber;
    private int? hybridNumber;
    private int dynamicsOfLifeNumber;
    private bool showHybridNumber = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var fortuneNumber = ResultTextService.FortuneNumberResult;
        resultNameNumber = fortuneNumber.ResultNameNumber;
        dynamicsOfLifeNumber = fortuneNumber.DynamicsOfLifeNumber;
        hybridNumber = fortuneNumber.ResultNameNumberHybrid;
    }
}
